<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotelmanagement">
        <activity android:name=".ui.SignInActivity"></activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.NewReservationActivity"
            android:parentActivityName=".ui.ReservationListActivity" />
        <activity
            android:name=".ui.ReservationDetailsActivity"
            android:parentActivityName=".ui.ReservationListActivity" />
        <activity android:name=".ui.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ReservationListActivity"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.RoomDetailsActivity"
            android:parentActivityName=".ui.RoomListActivity" />
        <activity
            android:name=".ui.NewRoomActivity"
            android:parentActivityName=".ui.RoomListActivity" />
        <activity
            android:name=".ui.RoomListActivity"
            android:parentActivityName=".ui.MenuActivity" />
    </application>

</manifest>